#frame1{
    background-color: white;
    padding: 15px 20px 20px 20px;
    border-radius: 4px;
    border: 1px solid gray;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16);
}
#frame2{
    font-size: 19px;
    font-weight: bold;
    margin: 10px 0px 5px;
}
#fragment1{
    margin-top: 0px;
    background-color: white;
}
#question1{
    font-size: 12px;
    font-style: italic;
    color: gray;
}